<div class='jumbo_about'>
  <h1>Who is, <em>Z Code Doc,</em> you ask???</h1>
</div>

<div class='font_setter_about'>
  <div class='col-sm-12'>
    <%= image_tag('discuss_me.png',
      alt: 'z_code_doc_bitmoji',
      class: 'about_photo'
    ) %>
  </div>
  <div class='content'>
    <div class='row'>
      <div class='col-sm-6'>
        <div class='talk-bubble tri-right round right-in'>
          <div class='talktext'>
            <p class="about_me">
              * I am a Chicagoan that has recently graduated from the Flatiron Full Stack Web Development V3 course
              <br />
              *  I love to code in Ruby and javascript
              <br />
              *  Making things pretty or creative is also a hobby of mine
              </br>
              * I have a strong passion to start a career in the programming industry because everything is so new! I can't get enough of it!
              <br />
            </p>
          </div>
        </div>
      </div>

      <div class='col-sm-4'>
        <p class='quote'>
          <strong>
            As Albert Einstein says:
            <br />
            <em> The more I learn, the more I realize how much I don't know</em>
          </strong>
        </p>
        <div class='talk-bubble tri-right left-in'>
          <div class='note round'>
            <strong>I am that passionate person you've been searching for!</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row' >
    <div class='col-sm-3'>
    </div>
    <div class='col-sm-6'>
      <div class='about contact_box'>
        <h3>Contact Me</h3>
        <h4>By:</h4>
        <hr />
        Phone: <p>(708)-620-6532</p>
        <hr />
        Email:  <p>lifechangingstuff@gmail.com</p>
        <hr />
        <p>Social Media:</p>
        <hr />
        <ul class='social_media'>
          <li><%= link_to 'GitHub', 'https://github.com/NickisKnowledge' %></li>
          <li><%= link_to 'Linked in',' https://www.linkedin.com/in/z-drake-aka-nickisknowledge/' %></li>
          <li>Slack: @zdrake</li>
        </ul>
      </div>
    </div>
    <div class='col-sm-3 good_bye'>
      <p>
        Thanks for visiting!!!
      </p>
    </div>
  </div>
</div>
