<div class='jumbo_home'>
  <h1>As a Code Doc, I am here to help resolve your problems</h1>
</div>

<div class='language_boxes'>
  <div class='box'
    style='background: url(assets/ruby.png)
      no-repeat center center;
      -webkit-background-size: cover;'
  >
  </div>
  <div class='box'
    style='background: url(assets/javascript.jpg)
      no-repeat center center;
      -webkit-background-size: cover;'
  >
  </div>
  <div class='box'
    style='background: url(assets/html5.jpg)
      no-repeat center center;
      -webkit-background-size: cover;'
  >
  </div>
</div>
