.title_input {
  width: 400px;
  margin: 15px;
}

.link_input {
  width: 600px;
  margin: 15px;
}

.description_input {
  width: 800px;
  height: 300px;
  margin: 15px;
}

.description_label {
  vertical-align: top;
  margin: 15px;
}

.image_input {
  margin: 15px;
}

label {
  margin-left: 15px;
}
